@font-face {
  font-family: lato;
  src: url(./Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(./Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: lato-thin;
  src: url(./Lato/Lato-Thin.ttf);
}

:root {
  --primary-color: #18273e;
  --secondary-color: #f69800;
  --primary-text: #ffffff;
  --secondary-text: #666;
}

html {
  scroll-behavior: smooth;
  font-family: lato;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  max-width: 1440px;
  background: var(--primary-color);
}

@media (min-width: 576px) {
  .container {
    padding: 16px;
  }
}

@media (min-width: 992px) {
  .container {
    background: var(--primary-color);
  }
}

.header {
  display: flex;
  height: 64px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
}

section {
  width: 100%;
}

/* NAVIGATION */
.nav {
  display: flex;
  height: 64px;
  width: 100%;
  position: absolute;
}

.logo {
  position: absolute;
  display: flex;
  height: 100px;
}
.logo img {
  padding: 16px;
}

.nav ul {
  display: flex;
  gap: 16px;
  height: 100%;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0 16px;
}

.nav ul li {
  display: grid;
  place-items: center;
  height: 100%;
  cursor: pointer;
}

.nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
.nav ul li:hover a {
  color: var(--secondary-color);
}

/* HERO SECTION */
#hero {
  display: flex;
  height: 80vh;
  position: relative;
  width: 100%;
}

#hero img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 576px) {
  #hero img {
    border-radius: 24px;
  }
}
/* SLIDER */

#slider {
  margin: 32px 0;
  height: min-content;
  border-radius: 8px;
}

.slider-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slide {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide img {
  border-radius: 8px;
  height: 100%;
  filter: brightness(60%);
  object-fit: cover;
  width: 100%;
}

.slide-text {
  position: absolute;
  bottom: 25%;
  left: 32px;
}

.slide-text h2 {
  font-family: lato-bold;
  font-size: 32px;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

.slide p {
  color: #fff;
  font-size: 24px;
}

/* EXPERTISE */
#expertise {
  background-color: white;
}

#expertise .wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-group h3 {
  margin: 0;
  padding: 0;
  font-family: lato-bold;
}

.text-group p {
  color: var(--secondary-text);

  font-family: lato;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.text-group a {
  text-decoration: none;
  color: var(--secondary-color);
}

#team h2 {
  padding: 0 16px;
  color: #fff;
  font-family: lato-bold;
}

#team .team-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 32px;
  width: 100%;
  padding: 0 0 16px;
}

@media (min-width: 992px) {
  #team .team-container {
    flex-direction: row;
    gap: 0;
  }
}

.team-member-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.team-member {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.team-member h4 {
  font-family: lato-bold;
  margin: 16px 0 4px;
  padding: 0;
  font-size: 18px;
}
.team-member h5 {
  font-family: lato-thin;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.team-member img {
  border-radius: 50%;
  object-fit: cover;
  height: 50vw;
  width: 100%;
  max-height: 240px;
  max-width: 240px;
}

/* ERSTANFRAGE FORMULAR */
#form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.form-container {
  padding: 16px;
}

#form h3 {
  color: var(--primary-color);
  font-family: lato-bold;
  margin: 0 0 16px;
  padding: 0;
  font-size: 24px;
}

#form h4 {
  color: var(--primary-color);
  font-family: lato-bold;
  margin: 0 0 16px;
}

#form p {
  color: var(--secondary-text);
  margin: 0 0 32px;
  padding: 0;
}

#form .subtitle {
  padding: 0px;
  margin: 8px 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  gap: 8px;
}

.radio-group {
  border: 1px solid #666;
  border-radius: 4px;
  margin-bottom: 16px;
}

.radio-group label {
  color: #666;
  font-family: lato;
}

.radio-group legend {
  color: var(--primary-color);
  font-family: lato-bold;
}

.form-group label {
  color: var(--primary-color);
  font-family: lato-bold;
}
.form-group input {
  padding: 12px;
}

#faq {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#faq .wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

#faq .wrapper h2 {
  font-family: lato-bold;
  margin: 0;
  padding: 0;
}
#faq .text-group h5 {
  font-size: 16px;
  font-family: lato;
  margin: 0;
  padding: 0;
}

#faq .text-group p {
  color: #fff;

  font-size: 16px;
  font-family: lato;
  margin: 0;
  padding: 0;
}

#footer {
  background-color: var(--secondary-color);
}

#footer .wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

#footer .wrapper .footer-group {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#footer .wrapper .footer-group h3,
p {
  margin: 0;
  padding: 0;
}

#footer .wrapper .footer-group h3 {
  color: var(--primary-color);
}

@media (min-width: 992px) {
  #footer .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
