@font-face {
  font-family: lato;
  src: url(./Lato/Lato-Regular.ttf);
}

:root {
  --primary-color: #18273e;
  --secondary-color: #f69800;
  --primary-text: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-family: lato;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  max-width: 1440px;
  background: var(--primary-color);
}

@media (min-width: 576px) {
  .container {
    padding: 16px;
  }
}
@media (min-width: 992px) {
  .container {
    background: var(--primary-color);
  }
}

.header {
  display: flex;
  height: 64px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
}

section {
  width: 100%;
}

/* NAVIGATION */
.nav {
  display: flex;
  height: 64px;
  width: 100%;
  position: absolute;
}

.logo {
  position: absolute;
  display: flex;
  height: 100px;
}
.logo img {
  padding: 16px;
}

.nav ul {
  display: flex;
  gap: 16px;
  height: 100%;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0 16px;
}

.nav ul li {
  display: grid;
  place-items: center;
  height: 100%;
  cursor: pointer;
}

.nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
.nav ul li:hover a {
  color: var(--secondary-color);
}

/* HERO SECTION */
#hero {
  display: flex;
  height: 80vh;
  position: relative;
  width: 100%;
}

#hero img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 576px) {
  #hero img {
    border-radius: 24px;
  }
}

#slider {
  border: 2px solid blue;
  height: 60vh;
}
#expertise {
  border: 2px solid pink;
  height: 60vh;
}
#team {
  border: 2px solid red;
  height: 60vh;
}
#form {
  border: 2px solid green;
  height: 60vh;
}
#faq {
  border: 2px solid purple;
  height: 60vh;
}
#footer {
  border: 2px solid yellow;
  height: 128px;
}
